## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*

## IDE
.idea/
.vscode/
*.swp
*~

## OS
.DS_Store
Thumbs.db
